DATABASE_URL=postgresql+asyncpg://postgres:password@db:5432/appdb
# DATABASE_URL=postgresql+asyncpg://postgres.[PASSWORD]:nuWQKpWcfnP96fle@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres
BACKEND_CORS_ORIGINS=http://localhost:3000
SQL_ECHO=true
JWT_SECRET_KEY=dev-secret-change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
